footer {
   position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
}

        .foto-golge {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Gölgelendirme efekti */
            margin-right: 20px; /* Sağ kenara biraz boşluk */
            border-radius: 10px; /* Köşeleri yuvarlama */
        }
		.yansima {
            position: relative; /* Yansımanın konumunu ayarlamak için */
        }

        .yansima::after {
            content: attr(data-text); /* Yansımanın içeriği, orijinal metnin içeriği */
            position: absolute; /* Mutlak pozisyonlandırma kullanılacak */
            bottom: -10px; /* Altta biraz aşağıda olacak şekilde ayarlanabilir */
            left: 100px; /* Sol kenara ve padding'e yapıştır */
            font-size: 25px; /* Orijinal metnin font boyutunu kullan */
            color: rgba(0, 0, 0, 0.5); /* Yansımanın rengi ve saydamlığı */
            transform: scaleY(-1); /* Yansımayı dikey olarak ters çevir */
        }
		#hero {
    background: url('hero.jpg') center center/cover no-repeat;
    color: #333;
    text-align: center;
    padding: 100px 0;
}

#hero h2 {
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #555;



}
.navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        .navbar-brand {
            display: flex;
            align-items: center;
        }

        .navbar-brand img {
            margin-right: 20px;
            border-radius: 10px;
            padding-right: 100px;
        }

        .navbar-brand strong {
            text-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
            font-size: 25px;
            border-radius: 20px;
            padding-left: 100px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            float: right;
			display:grid;
			grid-template-columns : 1fr;
			justify-content:end;
			
			
        }

        nav ul li {
            display: inline-block;
            margin-left: 10px;
        }

        nav ul li a {
            display: block;
            padding: 10px 20px;
            background-color: #333;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        nav ul li a:hover {
            background-color: #555;
        }
        
        .popup {
    display: none;
    position: fixed; /* Ekranın dışına taşma durumlarında ekranla birlikte hareket et */
    top: 20%; /* Dikey konumu ekranın yarısına getir */
    left: 50%; /* Yatay konumu ekranın yarısına getir */
    transform: translate(-50%, -50%); /* Yatay ve dikeyde ortalamak için kullan */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
	z-index:9999;
	
}

.popup-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
	position: relative;
	z-index:9999;
	
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
	
}
.photo {
    position: relative; /* veya absolute, fixed */
    z-index: 0; /* Fotoğrafın z-index değeri */
}
